---
import { getImage } from 'astro:assets'
import HomeBg from '../assets/homebg.jpg';
const bgImage = await getImage({ src: HomeBg })
---

<div class="w-full h-90 md:h-150 pt-4 md:pt-15" style={`background-image: url(${bgImage.src}); background-size: cover; background-repeat: no-repeat;`}>
    <h1 class="pl-10 pb-4 md:pb-20 md:text-3xl w-auto">
        <p class="w-auto text-2xl">Adrián Benítez y Asociados<p class="md:pl-20 text-xl">-Desde 1999-</p>
    </h1>
    <h1 class="text-3xl md:text-5xl md:pl-20 pl-10 pb-4 md:pb-20"><p>Resolviendo tus </p>problemas de frente</h1>
    <p class="md:pl-30 md:text-2xl pl-10 max-w-2xl text-xl"><span>Con más de dos décadas de trayectoria que nos respaldan en la búsqueda de soluciones legales efectivas. Brindamos atención legal directa y especializada para que puedas resolver tus asuntos de manera rapida y eficiente.</span></p>
</div>
