---
import { getImage } from 'astro:assets'
import sign from '../assets/sign.jpg'
const signImg = await getImage({ src: sign })
---

<div class="bg-white">
    <div class="text-black px-4 pt-4 pb-8 w-full md:w-5/6 mx-auto">
        <div class="h-40 md:mb-4 md:mt-4 self-center justify-center" style={`background-image: url(${signImg.src}); background-size: contain; background-repeat: no-repeat; background-position: center;`}></div>
        <h1 class="text-3xl pb-4">Nuestros servicios principales</h1>
        <ul class="list-disc list-inside">
            <li>Derecho Civil – Reclamos por daños y perjuicios, incumplimientos contractuales, conflictos de propiedad, sucesiones y más. </li>
            <li>Derecho Laboral – Despidos injustificados, indemnizaciones, trabajo en negro, acoso laboral y defensa de los derechos del trabajador.</li>
            <li>Derecho Penal – Defensa en causas penales, excarcelaciones, juicios orales, apelaciones y representación en indagatorias.</li>
            <li>Derecho de Familia – Divorcios, régimen de visitas, cuota alimentaria, adopciones y conflictos familiares.</li>
            <li>Derecho Comercial – Asesoramiento a empresas, contratos comerciales, recupero de deudas y defensa en litigios empresariales, procesos de concurso y quiebra.</li>
            <li>Derecho ambiental.-Asesoramiento en normativas ambientales. Cumplimiento de leyes y regulaciones para empresas y emprendimientos. Denuncias por contaminación y daño ambiental.
            <li>Defensa de los derechos colectivos y acciones de remediación. Evaluaciones de impacto ambiental. </li>
        </ul>
    </div>
</div>
