<div class="w-full pt-10 md:flex text-black justify-items-center bg-neutral-800 p-4">
    <h1 class="text-white text-3xl md:w-1/3 self-center">En qué <br class="hidden md:block" />nos especializamos</h1>
    <div class="md:w-1/3">
        <div class="text-white bg-blue-800 p-4 m-3 rounded">
            <h1 class="text-2xl pb-2 text-center">Daños y perjuicios</h1>
            <p class="text-xs">Cuando sufres un daño, no solo te enfrentarás a una pérdida, sino también a una incertidumbre. En nuestro estudio, convertimos esa incertidumbre en soluciones concretas. Con más de 25 años de experiencia  en Daños y Perjuicios , nos especializamos en reclamar y obtener la compensación justa que te corresponde.</p>
        </div>
        <div class="bg-gray-100 p-4 m-3 rounded">
            <h1 class="text-2xl pb-2 text-center">Derecho laboral</h1>
            <p class="text-xs">En el mundo laboral, los derechos no siempre se respetan. Si sufre despidos injustificados, falta de pago, acoso laboral o cualquier otra vulneración , merecés una defensa sólida y efectiva.
                Nos especializamos en asesorar y representar a trabajadores que buscan justicia y la compensación que les corresponde.</p>
        </div>
    </div>
    <div class="md:w-1/3">
        <div class="bg-gray-100 p-4 m-3 rounded">
            <h1 class="text-2xl pb-2 text-center">Derecho penal</h1>
            <p class="text-xs">Enfrentar una causa penal puede ser una de las situaciones más difíciles en la vida de una persona. Una acusación injusta o un error en el proceso pueden cambiarlo todo. No estás solo.
                Nos especializamos en brindar una defensa estratégica, contundente y efectiva para proteger tu libertad y garantizar el debido proceso.</p>
        </div>
        <div class="bg-gray-100 p-4 m-3 rounded">
            <p></p>
        </div>
    </div>
</div>
